* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(218, 23%, 16%);
  height: 100vh;
  width: 100vw;
  font-family: "Manrope", sans-serif;
  font-size: 2.8rem;
}

.advice-container {
  position: relative;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  color: hsl(193, 38%, 86%);
  align-items: center;
  text-align: center;
  gap: 2.8rem;
  padding: 3.2rem;
  font-weight: 800;
  background-color: hsl(217, 19%, 24%);
  border-radius: 1rem;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}
.advice-header {
  font-size: 1.2rem;
  letter-spacing: 3px;
  color: hsl(150, 100%, 66%);
  font-weight: 600;
}
.advice-text {
  line-height: 1.2;
}
.advice-divider {
  margin-bottom: 3.2rem;
  max-width: 100%;
}
.advice-button {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(150, 100%, 66%);
  border: none;
  border-radius: 50%;
  padding: 1.4rem;
  cursor: pointer;
  transition: all 0.3s;
}

.advice-button:hover {
  box-shadow: 0 0 10px 1px hsl(150, 100%, 66%);
  filter: brightness(105%);
}

.advice-button:active {
  box-shadow: 0 0 10px 3px hsl(150, 100%, 66%);
}

@media (max-width: 26em) {
  html {
    font-size: 50%;
  }

  .advice-container {
    max-width: 90%;
  }

  .advice-divider {
    content: url("images/pattern-divider-mobile.svg");
  }
}
