* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  height: 100vh;
  font-family: "Overpass", sans-serif;
  background-color: hsl(216, 12%, 8%);
  font-size: 1.5rem;
  font-weight: 400;
}

.display {
  display: none !important;
}

.rating-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  height: 38rem;
  padding: 3.2rem;
  background-image: linear-gradient(
    hsl(213, 19%, 18%),
    hsla(213, 20%, 18%, 0.3)
  );
  border-radius: 3.2rem;
}
.star {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.2rem;
  height: 4.2rem;
  background-color: hsla(216, 12%, 54%, 0.1);
  border-radius: 2.2rem;
  margin-bottom: 2.4rem;
}

.star img {
  width: 1.6rem;
}
.tertiary-heading {
  color: hsl(0, 0%, 100%);
  font-size: 1.8em;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.rating-text {
  color: hsl(217, 12%, 63%);
  line-height: 2.2rem;
  margin-bottom: 2.2rem;
}
.ratings-container {
  margin-bottom: 2.2rem;
}

.ratings {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.6rem;
  height: 4.6rem;
  border-radius: 50%;
  font-size: 1.6rem;
  color: hsl(216, 12%, 54%);
  background-color: hsl(213, 19%, 18%);
  cursor: pointer;
  transition: all 0.3s;
}

.rating:hover {
  background-color: hsl(217, 12%, 63%);
  color: hsl(0, 0%, 100%);
}

.rating:active {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

.submit-btn {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  border: none;
  width: 100%;
  height: 4.2rem;
  border-radius: 3.2rem;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.submit-btn:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}

/* THANK YOU STATE */

.thanks-part {
  width: 34rem;
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  text-align: center;
}

.sub-heading {
  padding: 0.6rem 1.8rem;
  background-color: hsl(213, 19%, 18%);
  border-radius: 3.2rem;
  font-size: 1.4rem;
  color: hsl(25, 97%, 53%);
}

.thank-you-heading {
  margin-bottom: 0;
  margin-top: 1.2rem;
}

.thank-you-text {
  margin-bottom: -0.5rem;
}

/* JS CLASSES */
.clicked-rating {
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
}

.pointer {
  pointer-events: none;
}

.disable-hover:hover {
  cursor: alias;
  color: hsl(0, 0%, 100%);
  background-color: hsl(25, 97%, 53%);
}

/* MEDIA QUERY */

@media (max-width: 30em) {
  html {
    font-size: 50%;
  }
}
