html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(36, 100%, 99%);

  font-size: 1.5rem;
  font-family: "Inter", serif;
  overflow-x: hidden;
}

header {
  position: relative;
}

.container {
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3.2rem;
  padding-bottom: 4.8rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: hsl(236, 13%, 42%);
  cursor: pointer;

  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: hsl(5, 85%, 63%);
}

.mobile-nav-buttons {
  display: none;
  z-index: 99;
  cursor: pointer;
}

.btn {
  background: none;
  border: none;
  width: 4rem;
  height: 4rem;
}

.btn-menu {
  display: none;
}

.btn-close {
  display: none;
}

.deneme {
  display: none;
}

.hero {
  margin-bottom: 6.4rem;
}

.hero-container {
  display: grid;
  grid-template-columns: 70fr 30fr;
  column-gap: 3.2rem;
}

.left-side {
  display: grid;
  grid-template-columns: 45fr 55fr;
  row-gap: 3.2rem;
  column-gap: 4.8rem;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  gap: 4.2rem;
}

.hero-heading {
  font-size: 5.2rem;
  font-weight: 800;
  line-height: 1;
}
.hero-text {
  font-size: 1.5rem;
  color: hsl(236, 13%, 42%);
  line-height: 1.8;
}

.hero-btn:link,
.hero-btn:visited {
  width: 40%;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  text-decoration: none;
  color: hsl(36, 100%, 99%);
  background-color: hsl(5, 85%, 63%);
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1.6rem;
  cursor: pointer;

  transition: all 0.3s;
}

.hero-btn:hover,
.hero-btn:active {
  background-color: hsl(240, 100%, 5%);
}

.hero-img {
  width: 100%;
  grid-column: 1/-1;
}

.right-side {
  display: flex;
  flex-direction: column;
  padding: 1.6rem 1.6rem;
  background-color: hsl(240, 100%, 5%);
}

.new-header {
  font-size: 3.6rem;
  color: hsl(35, 77%, 62%);
}

.news-item {
  color: hsl(233, 8%, 79%);
  padding-top: 3.6rem;
}

.news-item:not(:last-child) {
  padding-bottom: 3.6rem;
  border-bottom: 1px solid hsl(233, 8%, 79%);
}

.news-item-header:link,
.news-item-header:visited {
  color: hsl(36, 100%, 99%);
  text-decoration: none;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.news-item-header:hover,
.news-item-header:active {
  color: hsl(35, 77%, 62%);
}

.news-item-text {
  line-height: 1.8;
}

.higlighted-contents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3.6rem;
  margin-bottom: 12.6rem;
}

.higlighted-content {
  display: flex;
  gap: 2.4rem;
}

.higlighted-content img {
  width: 30%;
}

.higlighted-content-text {
  color: hsl(233, 8%, 79%);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.higlighted-number {
  font-size: 3.2rem;
  font-weight: 700;
}

.higlighted-content-header:link,
.higlighted-content-header:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: hsl(240, 100%, 5%);
  font-weight: 800;
  cursor: pointer;
  transition: all 0.3s;
}

.higlighted-content-header:hover,
.higlighted-content-header:active {
  color: hsl(5, 85%, 63%);
}

.higlighted-content-subheading {
  color: hsl(236, 13%, 42%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 50em) {
  .hero-container {
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
  }

  .higlighted-contents {
    grid-template-columns: 1fr;
    row-gap: 3.2rem;
  }

  .higlighted-content img {
    width: 15%;
  }
}

@media (max-width: 37em) {
  html {
    font-size: 50%;
  }

  .left-side {
    grid-template-columns: 1fr;
  }

  .higlighted-content img {
    width: 30%;
  }

  .nav-links {
    background-color: hsl(36, 100%, 99%);
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 70vw;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 3.2rem;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.3s ease-in;
  }

  .nav-link:link,
  .nav-link:visited {
    color: hsl(240, 100%, 5%);
    font-size: 2.4rem;
  }

  .mobile-nav-buttons {
    display: block;
  }

  .btn-menu {
    display: block;
    cursor: pointer;
  }

  .nav-open .btn-close {
    display: block;
  }
  .nav-open .btn-menu {
    display: none;
  }

  .nav-open .nav-links {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .nav-link:hover,
  .nav-link:active {
    color: hsl(5, 85%, 63%);
  }

  /* menu background */
  .nav-open .deneme {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  }
}
