* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  height: 100vh;
  background-image: url(images/bg-intro-desktop.png),
    linear-gradient(hsla(0, 100%, 74%), hsl(0, 100%, 74%));
}

.section-cta {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-container {
  width: 70%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  column-gap: 3.2rem;
}

.cta-text-container {
  color: #fff;
}
.cta-header {
  font-size: 4.6rem;
  line-height: 1.1;
  margin-bottom: 3.2rem;
}
.cta-text {
  font-size: 1.5rem;
  line-height: 1.8;
}

.cta-form-container {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.cta-form-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(248, 32%, 49%);
  height: 5.2rem;
  color: #fff;
  border-radius: 1rem;
  font-size: 1.5rem;
  box-shadow: 0 9px rgba(0, 0, 0, 0.2);
}
.cta-form-header-text span {
  font-weight: 600;
}

.cta-form {
  padding: 3.2rem;
  background-color: #fff;
  border-radius: 1rem;
}

.cta-form form {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.form-input-container {
  position: relative;
}

.form-input {
  width: 100%;
  padding: 1.6rem;
  font-weight: 600;
  border-radius: 0.5rem;
  border: 1px solid rgb(207, 207, 207);
}

.form-btn {
  height: 4.6rem;
  background-color: hsl(154, 59%, 51%);
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  box-shadow: 0 4px hsl(154, 54%, 44%);
  cursor: pointer;
  transition: all 0.3s;
}

.form-btn:hover {
  opacity: 60%;
}

.form-footer {
  font-size: 1.1rem;
  text-align: center;
  color: rgb(170, 170, 170);
}

.form-footer span {
  font-weight: 600;
  color: hsl(0, 100%, 74%);
}

/* ERROR MSG */

.display {
  display: none;
}

.error-msg img {
  position: absolute;
  font-size: 1.1rem;
  color: hsl(0, 100%, 74%);
  font-weight: 500;
  right: 0;
  top: 55%;
  transform: translate(-45%, -50%);
}

.error-msg p {
  position: absolute;
  font-size: 1.1rem;
  color: hsl(0, 100%, 74%);
  font-weight: 500;
  right: 0;
  top: 55%;
  transform: translateY(150%);
}

.email-empty {
  display: none;
}

.email-fail {
  display: none;
}

@media (max-width: 24em) {
  html {
    font-size: 50%;
  }

  .section-cta {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20rem;
  }

  .cta-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr;
    text-align: center;
    gap: 4.2rem;
  }

  .cta-form-header {
    background-color: hsl(248, 32%, 49%);
    height: 8rem;
    color: #fff;
  }
}
